<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
     body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #b92b27, #1565c0)
} 
.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #99d6ff;

    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}

  </style>

</head>

<body>

  {% include "quiz/navbar.html" %}
  <br><br>
  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form class="box">
                    <h1>User Login</h1>
                    <p class="text"><b> Make your QUIZ here!</b></p>
                    <p class="text"> Click to Continue....</p>
                     <a href="teacherlogin" class="btn btn-lg btn-info" style="padding-right: 35px;"><i class="fa fa-user-plus" aria-hidden="true"></i> Login</a>
                     <a href="teachersignup" class="btn btn-lg btn-info" style="padding-right: 35px;"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
